<div id="main-container">
    <div id="page-content">
        <div id="go-to-section"></div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <p>
                      <h2 style="color:orange">Благодарим за ваше сообщение!</h2>
                          Ваш заказ принят! Мы с вами обязательно свяжемся.
                    </p>


                    

                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div>
</div>
